.main-card-div {
  color: #ffff;
  width: 25%;
  background-color: #23262a;
  padding: 20px;
  border: 1px solid #5a5cc3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-card-content {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: start;
  align-items: center;
}

.main-card-div h3 {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
  font-size: 25px;
}

.main-card-div img {
  width: 200px;
  height: 180px;
}

.main-card-div div {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: left;
  width: 100%;
}

.main-card-div span {
  font-family: "Rubik", sans-serif;
  margin-bottom: 10px;
  margin-top: 10px;
  align-self: left;
  font-size: 17px;
  text-align: left;
  line-height: 25px;
}

.main-card-div strong {
  color: #5a5cc3;
}

.view-button {
  margin-top: 20px;
  color: #ffffff;
  background-color: #191b1d;
  border: 2px solid #5a5cc3;
  padding: 8px 15px;
  font-size: 18px;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
  font-weight: 500;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.view-button:hover {
  cursor: pointer;
  background-color: #5a5cc3;
  transform: scale(1.1);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
  transform: translateY(-3px);
}

.view-button:active {
  transform: scale(1);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  transform: translateY(0);
}