footer{
    width: 100%;
    border-top: 2px solid #5a5cc3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #ffff;
    padding: 10px 20px;
    box-sizing: border-box;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
}

footer p{
    font-size: 21px;
}

footer div{
    width: 33%;
    display: flex;
    flex-direction: row;
}

.credits-div{
    justify-content: center;
}

footer a{
    text-decoration: none;
    color: #5a5cc3;
}

footer a:hover{
    text-decoration: underline;
}

.social-media-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    gap: 15px;
}

.social-media-div svg{
    font-size: 21px;
    color: #ffff;
    transition: 0.2s;
    background-color: #5a5cc3;
    padding: 10px;
    border-radius: 50px;
}

.social-media-div svg:hover{
    transform: scale(1.1);
    transition: 0.2s;
}