@font-face {
    font-family: "EldenRing";
    src: url("../assets/fonts/MantiniaRegular/MantiniaRegular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }

header {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-bottom: 3px solid #5a5cc3;
}

h1 {
  font-weight: 200;
  font-size: 75px;
  color: #5a5cc3;
  font-family: "EldenRing", sans-serif;
}
