@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

.main-nav-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-bottom: 3px solid #5a5cc3;
  text-align: center;
  padding-bottom: 12px;
}

.main-nav-div h2 {
  text-align: center;
  font-size: 30px;
  color: #6466dd;
  font-weight: 400;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
}

ul {
  display: flex;
  color: #ffff;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-inline-start: 0px;
}

li {
  font-family: "Rubik", sans-serif;
  list-style: none;
  margin: 0 20px;
  font-size: 20px;
  display: flex;
  align-items: center;
}

li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.custom-icon {
  margin-right: 10px;
  font-size: 22px;
}

.nav-link{
  text-decoration: none;
  color: #ffff;
}
