#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

html{
  scroll-behavior: smooth;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #1c1e21;
}

.main-card-section{
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
}

.main-card-section h2{
  text-align: center;
  font-size: 30px;
  color: #6466dd;
  font-weight: 400;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
  margin-bottom: 50px;
}

.card-section{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 50px;
}

.loading-div{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 100px 0;
}

.loading-div span{
  color: #ffff;
  font-size: 35px;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
  margin-right: 90px;
  margin-left: 10px;
}

.loading-div img{
  width: 200px;
  height: auto;
}